# ======================
# Node
# ======================
node_modules/
npm-debug.log*

# ======================
# Environment
# ======================
.env

# ======================
# Database
# ======================
*.db

# ======================
# OS
# ======================
.DS_Store
Thumbs.db